<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swagger UI Metajob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>

<body>
    <ul>
        {{#data}}
        <li>
            <a href="http://localhost:3000/swagger/{{ path }}" target="_blank">
                {{ path }}
            </a>
        </li>
        {{/data}}
    </ul>
</body>

</html>