@import "variables";

// Vanilla
body {
    margin: 0;
    font-family: 'Arial';
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 5px 0;
}

h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

// Custom primereact menubar
.p-menubar {
    margin-bottom: 2rem;
}

div.p-menubar ul.p-menubar-root-list {
    display: none;
}

div.p-menubar div.p-menubar-custom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: none;
}

// Footer
.footer {
    padding: 1rem;
    color: $color-1;
    background-color: $color-2;
}